* {
  box-sizing: border-box;
}
ul,
ol {
  list-style-type: none;
  font-style: normal;
  padding: 0;
  margin: 0;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}
/* one */
h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.item {
  border-radius: 8px;
  padding: 16px;
  width: 392px;
  height: 264px;
  background-color: #f6f6fe;
}
.item li {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding-top: 8px;
  padding-left: 16px;
  padding-bottom: 8px;
}

.item ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#categories {
  display: flex;
  gap: 24px;
  flex-direction: column;
}

/* two */

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 48px 24px;
  padding: 0;
}

.gallery li {
  display: flex;
  max-width: 1128px;
}

.gallery img {
  display: block;
  width: 360px;
  height: 300px;
}

/* thre */

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
#name-input {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.task_thre_input {
  padding: 8px 140px 8px 16px;
  border: 1px solid #808080;
  border-radius: 4px;
}

/* four  */

.login-form {
  display: flex;
  flex-direction: column;
}

.four-input {
  margin-top: 8px;
}

.lab-four {
}
.lab-input-four {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  padding-left: 16px;
}
.form-four {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.task-four-submit-btn {
  border-radius: 8px;
  padding: 8px 16px;
  width: 86px;
  height: 40px;
  background-color: #4e75ff;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  border-color: transparent;
}
